* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(51, 106, 136);
}

::-webkit-scrollbar-track {
    background: #221a2e;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgb(51, 106, 136), rgba(51,22,48,1));
    color: white;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

img {
    width: 100%;
}

.logo {
    max-width: 160px;
    padding-bottom: 30px;
    border-bottom: 2px solid #cecece;
}

.score {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    padding: 20px 40px;
    border-top: 1px solid #cecece;
    text-transform: uppercase;
}

.resume div {
    color: #30d5e2;
}

.number-score {
    font-size: 30px;
    font-weight: bold;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.option {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #221a2e;
    margin: 10px;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 #221a2e;
    overflow: hidden;
    opacity: 0.5;
    transition: 0.5s all ease;
}.option:hover, .option.active {
    transform: scale(1.05);
    opacity: 1;
}
.option h2 {
    position: absolute;
    top: 4px;
    font-size: 20px;
    transform: translateY(-100%);
    transition: 0.4s all ease;
}
.options .option:nth-child(1) h2 {
    color: #30d5e2;
}
.options .option:nth-child(2) h2 {
    color: #f0a0d0;
}
.options .option:nth-child(3) h2 {
    color: #f9b172;
}
.option:hover h2, .option.active h2 {
    transform: translateY(0);
}
.option img {
    mix-blend-mode:screen;
}

.computer {
    padding-left: 20px;
}
.compu-choice {
    border: 3px dashed white;
    opacity: 1;
}
.compu-choice.active {
    transform: rotateY(180deg);
}

.floating {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #221a2ec1;
    padding: 0 20px;
    transform: translateY(100%);
    transition: 0.5s all ease;
}.floating.active {
    transform: translateY(0);
}
.floating .result {
    background: #cecece;
    color: #221a2e;
    padding: 0 20px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 0 20px 0 #221a2e;
}
.floating .again {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cecece;
    color: #221a2e;
    margin-top: 20px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s all ease;
}.floating .again:hover {
    transform: rotate(360deg);
}
.floating .result div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}.floating .result span, .floating .verdict {
    text-transform: uppercase;
}.floating .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}.floating .resume .mini  {
    width: 50px;
    height: 50px;
    background: #221a2e;
    margin-top: 12px;
    border-radius: 100%;
}.floating #itsImg{
    transform: rotateY(180deg);
}
.floating .verdict {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #221a2e;
    text-align: center;
}

#stars-container {
    z-index: -1;
}
.star {
    width: 4px;
    height: 4px;
    background: #cecece;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #fff;
    opacity: 0.8;
}

#stars-container div:nth-child(2n+1) {
    width: 3px;
    height: 3px;
}

@media screen and (max-width: 880px) {
    header {
        padding-top: 20px;
    }
    .score {
        max-width: 600px;
    }
    .options {
        flex-direction: column;
        padding: 20px 20px 20px 0;
    }
}      
@media screen and (max-width: 510px) {
    .logo {
        width: 120px;
    }     
    main {
        flex-direction: column;
    }
    .options, .computer {                
        padding: 0 0 20px 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .option {
        width: 140px;
        height: 140px;
    }
    .choice h2 {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    main {
        flex-direction: column-reverse;
    }
    .choice {
        width: 100px;
        height: 100px;
    }
}